<header>
    <nav class="flex justify-end  bg-gray-950  relative ">
        <ul class="flex space-x-4 mr-10 ">
          <li class="bg-green-900 text-black px-4 py-2"><a href="http://localhost:52841/">Home</a></li>
          <li class="bg-red-950 text-black px-4 py-2 group">
            Carrera 
        <ul class="hidden group-hover:block absolute bg-blue-950 text-black mt-2 ">
          <li class="px-4 py-2">Record</li>
          </ul>
    </li>
    <li class="bg-emerald-50 text-black px-4 py-2 group">
        Historia
    <ul class="hidden group-hover:block absolute bg-blue-950 text-white mt-2 ">
      <li class="px-4 py-2">Peleas por el Titulo</li>
      <li class="px-4 py-2">Momentos Historicos</li>
      </ul>
      </li>
    </ul>
